.graphic-img{
    width: 100%;
    position: relative;
    // display: block;
}

.project-bck-img-1{   background-image: url(img/aa.png);}
.project-bck-img-2{   background-image: url(img/ab.png);}
.project-bck-img-3{   background-image: url(img/teja.png);}
.project-bck-img-4{   background-image: url(img/ac.png);}
.project-bck-img-5{   background-image: url(img/ad.png);}
.project-bck-img-6{   background-image: url(img/qwerdtf-01.png);}
.project-bck-img-7{   background-image: url(img/wall.png);}
.project-bck-img-8{   background-image: url(img/mlm.png);}
.project-bck-img-9{   background-image: url(img/josie.png);}
.project-bck-img-10{   background-image: url(img/as.png);}
.project-bck-img-11{   background-image: url(img/bigego.png);}
.project-bck-img-12{   background-image: url(img/au.png);}
.project-bck-img-13{   background-image: url(img/ar.png);}
.project-bck-img-14{   background-image: url(img/aq.png);}
.project-bck-img-15{   background-image: url(img/teja2.png);}
.project-bck-img-16{   background-image: url(img/an.png);}
.project-bck-img-17{   background-image: url(img/av.png);}
.project-bck-img-18{   background-image: url(img/at.png);}
.project-bck-img-19{   background-image: url(img/carlito.png);}
.project-bck-img-20{   background-image: url(img/dsis.jpeg);}
.project-bck-img-21{   background-image: url(img/zinay2.jpeg);}
.project-bck-img-22{   background-image: url(img/gg.png);}
.project-bck-img-23{   background-image: url(img/ae.png);}
.project-bck-img-24{   background-image: url(img/ah.png);}
.project-bck-img-25{   background-image: url(img/ad.png);}
.project-bck-img-26{   background-image: url(img/ag.png);}
.project-bck-img-27{   background-image: url(img/ai.png);}
.project-bck-img-28{   background-image: url(img/aj.png);}
.project-bck-img-29{   background-image: url(img/ah.png);}
.project-bck-img-30{   background-image: url(img/ak.png);}
.project-bck-img-31{   background-image: url(img/al.png);}
.project-bck-img-32{   background-image: url(img/alibab.png);}
.project-bck-img-33{   background-image: url(img/am.png);}
.project-bck-img-34{   background-image: url(img/an.png);}
.project-bck-img-35{   background-image: url(img/ao.png);}
.project-bck-img-36{   background-image: url(img/ap.png);}
.project-bck-img-37{   background-image: url(img/at.png);}



