.webapp{
    width: 100%;
    padding: 7rem 6rem;
    // background-image: linear-gradient(#021731, #000000ad), url(img/picca.jpg);
    background-image: url(img/pp.png);

    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
    top: 5rem;
    position: relative;

    @media (max-width:56.25em){
        padding: 4rem 0rem;
      }



    @media (max-width:48em){
        top: 3rem;
        padding: 3rem 2rem;
        border-radius: 0rem;
      }

    
    &__con{
     width: 50%;

     @media (max-width:56.25em){
        width: 65%;
      }


     @media (max-width:48em){
       width: 100%;
      }

    }

    &__title{
        text-align: center;
        font-size: 4.5rem;
        font-weight: 600;
        margin-bottom: 1rem;
        // letter-spacing: 1rem;

        @media (max-width:26.75em){
           font-size: 3.5rem;
              }
    }

    &__para{
        text-align: center;
        font-size: 2rem;
        padding-top: 1rem;
    }
}

.projects1{
    width: 100%;
    // height: 55vh;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 5rem;
    top: 10rem;
    
    @media (max-width:48em){
       flex-direction: column;
       align-items: center;
    //    height: 0rem;
       }

    &__con2{
        height: 70vh;
        width: 100%;
        margin:1rem;
        border-radius: 1rem;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        background-repeat: no-repeat;
        background-position:top;
        background-size: cover;
        box-shadow: 0 0.3rem .9rem .1rem rgba(0, 0, 0, 0.122);
        justify-content: flex-end;
        z-index: 4;
   
           @media (max-width:87.50em){
          height: 60vh;
          width: 100%;
        }
   
          @media (max-width:48em){
          width: 50%;
            }

            
          @media (max-width:37.50em){
            width: 60%;
              }

              @media (max-width:26.75em){
                width: 70%;
                  }
        
        }

          .p1{background-image: url(img/eb.png);}
          .p2{background-image: url(img/ptsweb.png);} 
          .p3{background-image: url(img/psscreen.png);} 

          &__box2{
            position: relative;
           background-color: whitesmoke;
            z-index: 5;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 2rem;
            transition: animation ease-in-out 1s;
            animation: slideup .3s;
            // top: -8rem;
            // display: none;
     
        }

        &__title{
            font-size: 1.8rem;
             margin-bottom: 1rem;
             font-weight: 600;
             letter-spacing: .2rem;
             text-transform: uppercase;
             color: teal;
        }
    
        &__text{
            font-size: 1.5rem;
            text-align: center;
            color: black
        }
    
}
    


.projects{
    width: 100%;
    height: 45vh;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 5rem;
    top: 10rem;

    @media (max-width:1300px){
        height: 35vh;
     }

    @media (max-width:64em){
       height: 35vh;
    }

    @media (max-width:56.25em){
       height: 30vh;
    }

    @media (max-width:48em){
        align-items: center;
        flex-wrap: wrap;
        height: 81vh;
        align-content: space-between;
        margin-bottom: 1rem;
      }

      @media (max-width:37.50em){
       height: 62vh;
    }


      @media (max-width:26.75em){
        align-items: center;
       flex-direction: row;
        flex-wrap: wrap;
        height: 59vh;
       }
 
 
  

    &__con{
        width: 30%;
        margin:.5rem;
        border-radius: .5rem;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        background-repeat: no-repeat;
        background-position:center;
        background-size: 100%;
        box-shadow: 0 0.3rem .9rem .1rem rgba(0, 0, 0, 0.122);
        justify-content: space-between;
        z-index: 4;
        position: relative;

        @media (max-width:48em){
           width: 47%;
           height: 40vh;
           }

        @media (max-width:37.50em){
            height: 30vh;
            margin: none;
             border-radius: 0;

         }

        @media (max-width:26.75em){
         height:30vh;
         width: 50%;
         box-shadow: none;
         margin: 0rem;
         border-radius: 0;

        }
    }


    &__con:hover > &__box{
       opacity: 90%;
       visibility: visible;
    }

    &__box{
        width: 100%;
        height:100%;
        position: absolute;
        background-image: radial-gradient(#021731, #000000);
        // z-index: 7;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        transition: ease-in-out .6s;
        opacity: 0%;
        visibility: hidden;
    }
  
    &__small-box{
        padding: 2rem;
        width: 100%;
        position: relative;
        justify-content: space-around;
        bottom: 2rem;
    }

    &__name{
        color: white;
        font-size: 1.8rem;
        font-weight: 700;
    }
      
    &__title2{
        font-size: 1.3rem;
         text-transform: uppercase;
         color: #ffc000;
    }

    &__text2{
        font-size: 1.2rem;
        color: white;
        text-transform: capitalize;
        
    }
}

.catego{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 20rem;
    margin-bottom: 30rem;
    
    @media (max-width:48em){
        flex-direction: column;
        align-items: center;
        }
  

    

    &__box{
        position: relative;
        background-color: yellow;
        height: 35vh;
        width: 100%;
         border-radius: 1rem;
         flex-direction: column;
         justify-content: center;
         align-content: center;
        text-align: center;
        display: flex;
        width: 45%;
        
        &:hover{
            opacity: 95%;

        }

         @media (max-width: 37.50em){///////////600px
        height: 25vh;
    }
    }
    
    &__box-1{
        background-image: linear-gradient(#000000c7, #000000c7), url(img/pexels-pixabay-207665.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position:center ;
        cursor: pointer;
        
        @media (max-width:48em){
            width: 85%;
            margin-bottom: 2rem;
             }
    }

    &__box-2{
        background-image: linear-gradient(#000000c7, #000000c7), url(img/pexels-pixabay-414974.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position:center ;
        cursor: pointer;
        
        @media (max-width:48em){
            width: 85%;
             }
    }

    &__title{
        font-size: 2.5rem;
        font-weight: 600;
        color: white;
    }
    &__view{
        font-size: 1.5rem;
        color: white;
    }

}